<app-navbar></app-navbar>
<div class="app-flex">
  <div>
    <app-header [imageUrl]="'https://i.pinimg.com/originals/e7/13/4b/e7134b7c8013e649b6249d1dd1b7b843.jpg'">
    </app-header>
    <div class="container">
      <app-view-header [text]="user.name"></app-view-header>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card mb-4 shadow">
            <div class="card-body p-5">
              <div class="mb-4">
                <h5 class="card-title">Account</h5>
                <h6 class="card-subtitle text-muted">Your account information</h6>
              </div>
              <div class="d-flex flex-column gap-2">
                <h6 class="d-flex gap-2">
                  <span class="text-primary">Name</span>
                  <span>{{ (userObservable | async).name }}</span>
                </h6>
                <h6 class="d-flex gap-2">
                  <span class="text-primary">Email address</span>
                  <span>{{user.email}}</span>
                </h6>
                <h6 class="d-flex gap-2">
                  <span class="text-primary">Account creation date</span>
                  <span>{{user.created_at | date}}</span>
                </h6>
                <h6 class="d-flex gap-2">
                  <span class="text-primary">Last time updated on</span>
                  <span>{{ (userObservable | async).updated_at | date }}</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card shadow">
            <div class="card-body p-5">
              <div class="mb-4">
                <h5 class="card-title">Update information</h5>
                <h6 class="card-subtitle text-muted">Change your account information</h6>
              </div>
              <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                  <div id="emailHelp" class="form-text">You cannot change your email address.</div>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
                <div>
                  <button [disabled]="loading" class="btn btn-primary" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
