<div class="p-3 text-light row" style="background: #343a40" *ngIf="maps && maps.length > 0">
	<div class="col">
        <div class="d-flex flex-column gap-3">
            <div *ngIf="maps.length > 1">
                <h6>Game maps</h6>
                <select class="form-select bg-dark text-light border-0" #map (change)="selectMap(map.value)">
                    <option *ngFor="let map of maps; index as i" [value]="i">[{{map.id}}] {{map.title}}</option>
                </select>
            </div>
            <div *ngIf="maps[selectedMapIndex] && maps[selectedMapIndex].description">
                <h6>About map</h6>
                <div [innerHTML]="maps[selectedMapIndex].description"></div>
            </div>
            <div class="map-container" *ngIf="maps[selectedMapIndex]">
                <div class="quests-container">
                    <div class="hex-container" [ngClass]="{'active': selectedQuestIndex == j}" *ngFor="let quest of quests; index as j" style="--pos-x: {{quest.map_coord_x}}; --pos-y: {{quest.map_coord_y}}" (click)="selectQuest(j)">
                        <div class="hex"></div>
                        <div class="inner">
                            <h1 class="text-light"><i class="bi bi-exclamation"></i></h1>
                        </div>
                    </div>
                </div>
                <img class="rounded shadow" src="{{maps[selectedMapIndex].image_url}}">
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="d-flex flex-column gap-2" *ngIf="selectedQuestIndex != -1 && quests[selectedQuestIndex]">
            <h6>Quests</h6>
            <h3>{{quests[selectedQuestIndex].title}}</h3>
            <div class="tasks-timeline">
                <div class="task" *ngFor="let task of quests[selectedQuestIndex].tasks" [ngClass]="{'completed': isSelected(task.id)}">
                    <h6>{{task.title}}</h6>
                    <div>
                        <p class="m-0">{{task.description}}</p>
                        <button class="btn btn-sm p-0 fw-bold" [ngClass]="{'text-success': isSelected(task.id), 'text-primary': !isSelected(task.id)}" (click)="toggleCompleted(task.id)" *ngIf="isLoggedIn">{{isSelected(task.id) ? 'Completed' : 'Mark as completed'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
