<div class="games-grid">
    <button class="item" *ngFor="let game of games; index as i" (click)="open(game)">
        <div class="card border-0 shadow">
            <!--routerLink="/g/{{game.id}}/{{getUrlTitle(game.title)}}"-->
            <div class="image" *ngIf="game.image_url" style="--game-image: url({{game.image_url}})"></div>
            <div class="inner">
                <div class="part">
                    <span class="badge bg-primary">{{game.genre}}</span>
                </div>
                <div class="part text-light">
                    <h3>{{game.title}}</h3>
                </div>
            </div>
        </div>
    </button>
</div>