<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Delete game</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <b>{{game.title}}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="activeModal.dismiss('Cross click')">Close</button>
    <button type="submit" class="btn btn-danger" (click)="onSubmit()">Delete</button>
  </div>
</div>
