<footer class="app-footer">
    <div class="container py-5">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-1 gap-md-5">
          <div class="d-flex flex-column justify-content-center">
            <a href="#" class="nav-link link-secondary" [routerLink]="['/games']">All Games</a>
            <a href="#" class="nav-link link-secondary" [routerLink]="['/sign-up']">Create an Account</a>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <a href="#" class="nav-link link-secondary" [routerLink]="['/games/owned']">Your Games</a>
            <a href="#" class="nav-link link-secondary" [routerLink]="['/games/owned']">Add a Game</a>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <a href="#" class="nav-link link-secondary" [routerLink]="['/account']">Your Account</a>
            <a href="#" class="nav-link link-secondary">Get in Touch</a>
          </div>
        </div>
        <div class="text-light d-flex flex-column align-items-end">
          <h4 class="quester">Quester</h4>
          <small>2021</small>
        </div>
      </div>
    </div>
</footer>
