<footer class="app-footer">
    <div class="container py-5">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column justify-content-center">
          <a href="#" class="nav-link">All Games</a>
          <a href="#" class="nav-link">Create an Account</a>
          <a href="#" class="nav-link">Get in touch</a>
        </div>
        <div class="text-light d-flex flex-column align-items-end">
          <h4>Quester</h4>
          <small>2021</small>
        </div>
      </div>
    </div>
</footer>
