<div class="app-flex">
	<div>
		<app-header [imageUrl]="game.image_url"></app-header>
		<div class="container">
			<app-view-header [text]="game.title"></app-view-header>
            <div class="card border-0 shadow">
                <div class="px-4 py-3 d-flex flex-column gap-3">
                    <app-game-info-grid [game]="game"></app-game-info-grid>
                    <div *ngIf="game.description">
                        <h6>About game</h6>
                        <div [innerHTML]="game.description"></div>
                    </div>
                </div>
                <app-map [gameId]="gameId" style="overflow: hidden;"></app-map>
            </div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
<app-bottom-nav></app-bottom-nav>