<div class="position-relative rounded" style="overflow: hidden;">
	<div class="card border-0 shadow">
		<div class="px-4 py-3 d-flex flex-column gap-3">
			<h2>{{game.title}}</h2>
			<app-game-info-grid [game]="game"></app-game-info-grid>
			<div *ngIf="game.description">
				<h6>About game</h6>
				<div [innerHTML]="game.description"></div>
			</div>
			<hr class="m-0"/>
			<div class="d-flex gap-2">
				<button class="btn btn-dark" type="button" routerLink="/g/{{game.id}}/{{getUrlTitle(game.title)}}" (click)="activeModal.close()" >Open in page</button>
				<button class="btn btn-dark" type="button" (click)="activeModal.close()">Close window</button>
			</div>
		</div>
		<app-map [gameId]="game.id"></app-map>
	</div>
</div>