<div class="modal-content">
  <div class="modal-header border-0">
    <h5 class="modal-title">{{game.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs px-3" [activeId]="1">
    <li [ngbNavItem]="1">
      <a ngbNavLink>New Map</a>
      <ng-template ngbNavContent>
        <div class="modal-body">
          <form [formGroup]="mapForm" (ngSubmit)="onSubmitCreateMap()">
            <div *ngIf="error" class="alert alert-danger mt-0 mb-3">{{error}}</div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" formControlName="title" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && mf.title.errors }" />
              <div *ngIf="submitted && mf.title.errors" class="form-text invalid-feedback">
                <div *ngIf="mf.title.errors.required">This field is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && mf.description.errors }"></textarea>
              <div *ngIf="submitted && mf.description.errors" class="form-text invalid-feedback">
                <div *ngIf="mf.description.errors.required">This field is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="image_url" class="form-label">Image URL</label>
              <input type="text" formControlName="image_url" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && mf.image_url.errors }" />
              <div *ngIf="submitted && mf.image_url.errors" class="form-text invalid-feedback">
                <div *ngIf="mf.image_url.errors.required">This field is required</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmitCreateMap()">Add Map</button>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Maps List</a>
      <ng-template ngbNavContent>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let map of maps; index as i">
            {{map.title}}
          </li>
        </ul>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Close</button>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent>
        <div class="modal-body">
          Second content
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
